@model IEnumerable<Eduria.Models.CombinedQuestionAnswer>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionModel.QuestionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionModel.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerModels[0].Text)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionModel.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionModel.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerModels.FindAll(o => o.QuestionId == item.QuestionModel.QuestionId).Find(o => o.CorrectAnswer).Text)
            </td>
            <td>
            </td>
        </tr>
    }
    </tbody>
</table>