@model Tuple<IEnumerable<AnalyticHasDefaultModel>, IEnumerable<AnalyticDefaultModel>>
@{
    ViewData["Title"] = "Goals";
}

<h2>Goals</h2>
@{int itemid = 1;}
<table>
    @foreach (var item in Model.Item1)
    {
    <tr>
        <td>@itemid</td>
        <td>@item.AnalyticDefaultName</td>
        <td>@item.Input</td>
        <td>@item.Score</td>
        @{itemid++;}
    </tr>
    }
</table>
<p>
    Je gaat je zelf doelen stellen voor de komende periode. Klik hieronder minstens twee doelen aan die
    de volgende periode gaat oefenen
</p>
<table>
    @using (Html.BeginForm("Goal", "Analytic", FormMethod.Post))
    {
        @foreach (var item in Model.Item2)
        {
                
            <tr>
                <td>
                    @Html.CheckBoxFor(m => item.IsChecked, new { @checked = item.IsChecked.ToString(), value = item.AnalyticDefaultId })
                    @Html.HiddenFor(m => item.AnalyticDefaultId)
                </td>
                <td>@item.AnalyticDefaultName</td>
                <td>@if (item.AnalyticDefaultOption == (int)DefaultOption.Input || item.AnalyticDefaultOption == (int)DefaultOption.InputScore)
                {
                    @Html.TextBoxFor(m => item.Text)
                }</td>
            </tr>
        }
        <tr>
            <td><input type="submit" value="Toevoegen" /></td>
        </tr>
    }
</table>
