@model IList<Eduria.Models.AnalyticDataModel>
@{
    ViewData["Title"] = "Index";
}

    <div class="row xlarge">
        
        <div class="medium-10 columns">
            @{int year = 0;}
            @for (int i = 0; i < Model.Count(); i++)
            {
                @using (Html.BeginForm("Show", "Analytic", FormMethod.Post))
                {
                    @Html.HiddenFor(m => Model[i].PeriodNum)
                    @Html.HiddenFor(m => Model[i].SchoolYearStart)

                    if (year <= Model[i].SchoolYearStart)
                    {
                        <p><b>@Model[i].SchoolYearStart</b></p>

                        year = Model[i].SchoolYearStart;
                    }

                    <p>
                        Exam code: @Model[i].ExamCode<br />
                        Periode: @Model[i].PeriodNum<br />
                        <input type="hidden" name="Index" value=@i />
                        <button value=@i>Selecteer</button>
                    </p>
                }
            }
        </div>
    </div>

