@model Tuple<IEnumerable<AnalyticHasDefaultModel>, IEnumerable<AnalyticDefaultModel>>

@{
    ViewData["Title"] = "Werkwijze";
}

@if (Model.Item1.Count() != 0)
{
    @foreach (var item in Model.Item1)
    {
        <p>@item.AnalyticDefaultId</p>
        <p>@item.AnalyticDefaultName</p>
        <p>@item.Score</p>
    }
}
else
{
    @foreach (var item in Model.Item2)
    {
        <p><input type=checkbox id="@item.AnalyticDefaultId" name="@item.AnalyticDefaultName" onclick="getMethods(@item.AnalyticDefaultId)" />@item.AnalyticDefaultName</p>
    }

    <hr />
    <button type="submit" onclick="submitMethodArray()">Toevoegen</button>

}

<div id="inputMethod"></div>
<style>
    input {
        background: blue;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var methodArray = [];
    var defaultId = 4;
    var textboxValue = document.getElementById('inputMethodText');

    function addTextBox() {
        var textbox = document.createElement("INPUT");
        textbox.setAttribute("type", "text");
        textbox.id = 'inputMethodText'
        document.getElementById('inputMethod').appendChild(textbox);
    }

    function deleteTextBox() {
        var textbox = document.getElementById('inputMethodText');
        textbox.remove();
    }

    function getMethods(id) {

        if (!methodArray.includes(id)) {
            if (id == defaultId) {
                addTextBox()
            }
            methodArray.push(id);
        }
        else {
            if (id == defaultId) {
                deleteTextBox();
            }
            methodArray.pop(id);
        }
        console.log(methodArray);
    }

    function submitMethodArray() {
        var textBoxValue = document.getElementById('inputMethodText').value;

        if (textBoxValue != '') {
            $.ajax({
                type: "POST",
                traditional: true,
                url: "/Analytic/AddMethodWithOwnMethod",
                data: { methodParam: methodArray, textParam: textBoxValue }
            });
        }
        else {
            $.ajax({
                type: "POST",
                traditional: true,
                url: "/Analytic/AddMethod",
                data: { methodParam: methodArray }
            });
        }
    }
</script>

