<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>@ViewData["Title"] - Eduria</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/foundation.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/flexslider.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
        <script src="~/js/Chart.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css"
              asp-fallback-href="~/js/foundation.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    <header id="header">
        <div class="row xlarge">
            <div class="medium-2 columns">
                <a href="/"><img src="~/images/logo.png" class="logo" /></a>
            </div>
            <div class="medium-8 columns menu">
                <div class="topnav" id="myTopnav">
                    <a asp-controller="Dashboard" asp-action="Index" class="active"><i class="fas fa-home"></i></a>
                    <a asp-controller="TimePeriods" asp-action="Index">Tijdvakken </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <partial name="_AdminView" />
                        }
                        else if (User.IsInRole("Teacher"))
                        {
                            <partial name="_TeacherView" />
                        }
                        else
                        {
                            <partial name="_StudentView" />
                        }
                        <a href="javascript:void(0);" class="icon" onclick="responsiveToggle()">
                            <i class="fa fa-bars"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Exam" asp-action="Show">Info </a>
                    }

                </div>
            </div>
            <div class="medium-2 columns myAccount">
                <p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Hallo <b>@User.Identity.Name</b> <a asp-controller="Logout" asp-action="Index">Uitloggen </a></p>
                    }
                    else
                    {
                        <a asp-controller="Login">Inloggen </a>
                    }

                </p>
            </div>
        </div>    
    </header>
        @RenderBody() 
    <footer>
        <div class="row">
            <div class="medium-12 columns text-center">
                Copyright &copy; @DateTime.Now.Year - Eduria kennisapplicatie
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/glider.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/Chart.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
