@model IEnumerable<Eduria.Models.UserTestModel>

@{
    ViewData["Title"] = "Toets Resultaten";
}
    <section id="testResults">
        <div class="row medium">

            <div class="medium-12 columns">
                <h2>Toets resultaten</h2>
            </div>
            <div class="medium-2 columns">
                <strong>Voornaam</strong>
            </div>
            <div class="medium-2 columns">
                <strong>Achternaam</strong>
            </div>
            <div class="medium-2 columns">
                <strong>Toets</strong>
            </div>
            <div class="medium-2 columns">
                <strong>Begonnen</strong>
            </div>
            <div class="medium-2 columns">
                <strong>Afgerond</strong>
            </div>
            <div class="medium-2 columns">
                <strong>Score</strong>
            </div>

                @foreach (var item in Model)
                {

                    <div class="medium-2 columns">
                        <p>@item.Firstname</p>
                    </div>
                    <div class="medium-2 columns">
                        <p>@item.Lastname</p>
                    </div>
                    <div class="medium-2 columns">
                        <p>@item.Category</p>
                    </div>
                    <div class="medium-2 columns">
                        <p>@item.StartedAt</p>
                    </div>
                    <div class="medium-2 columns">
                        <p>@item.FinishedAt</p>
                    </div>
                    <div class="medium-2 columns">
                        <p>@item.Score</p>
                    </div>

                }
        </div>
    </section>