@model IEnumerable<Eduria.Models.UserTestModel>

@{
    ViewData["Title"] = "Toets Resultaten";
}
<section id="testResults">
    <table class="row medium">
        <tr>
            <th class="medium-12 columns">
                <h2>Toets resultaten</h2>
            </th>
            <th class="medium-2 columns">
                <strong>Naam</strong>
            </th>
            <th class="medium-2 columns">
                <strong>Toets</strong>
            </th>
            <th class="medium-2 columns">
                <strong>Begonnen</strong>
            </th>
            <th class="medium-2 columns">
                <strong>Afgerond</strong>
            </th>
            <th class="medium-2 columns">
                <strong>Score</strong>
            </th>
            <th class="medium-2 columns">
                <strong>Open</strong>
            </th>
        </tr>
        <tr>
            <td class="medium-2 columns">
                <input type="text" id="searchInput1" name="searchInput" placeholder="Naam Zoeken" oninput="FilterOnText(0)" />
            </td>
            <td class="medium-2 columns">
                <input type="text" id="searchInput2" name="searchInput" placeholder="Examen Zoeken" oninput="FilterOnText(1)" />
            </td>
            <td class="medium-2 columns"></td>
            <td class="medium-2 columns"></td>
            <td class="medium-2 columns"></td>
            <td class="medium-2 columns"></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="medium-2 columns">
                    <p class="TestResultsSearchable">@item.Firstname @item.Lastname</p>
                </td>
                <td class="medium-2 columns">
                    <p class="ExamNameSearchable">@item.ExamName</p>
                </td>
                <td class="medium-2 columns">
                    <p>@item.StartedAt</p>
                </td>
                <td class="medium-2 columns">
                    <p>@item.FinishedAt</p>
                </td>
                <td class="medium-2 columns">
                    <p>@item.Score</p>
                </td>
                <td class="medium-2 columns">
                    <p>
                        @if (item.FinishedAt == DateTime.MinValue)
                        {
                            var parms = new Dictionary<string, string>
                            {
                                {"examResult", item.ExamResultId.ToString()}
                            };
                            <a asp-controller="Exam" asp-action="Show" asp-all-route-data="parms">Resume</a>

                        }
                        else
                        {
                            <a asp-controller="Result" asp-action="StudentExamResult" asp-route-id="@item.ExamResultId" class="float-right">Bekijk</a>
                        }
                    </p>
                </td>
            </tr>
        }
    </table>
</section>

<script>
    function FilterOnText(state) {
        var value;
        var filter;
        if (state === 0) {
            value = $("#searchInput1").val();
            filter = $(".TestResultsSearchable");
        }
        else if (state === 1) {
            value = $("#searchInput2").val();
            filter = $(".ExamNameSearchable");
        }
        var values = [];
        filter.each(function() {
            if ($(this).text().toLowerCase().indexOf(value) >= 0) {
                $(this).parent().parent().show();
            } else {
                $(this).parent().parent().hide();
            }
        });
    }
</script>