@{
    ViewData["Title"] = "Overview";
}

<section id="overView">
    <div class="row medium">

        <table>
            <tr>
                <td><b>Toets</b></td>
                <td><b>Omschrijving</b></td>
                <td><b>Categorie</b></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" id="searchInput1" name="searchInput" placeholder="Title Zoeken" oninput="FilterOnText(0)" /></td>
                <td><input type="text" id="searchInput2" name="searchInput" placeholder="Omschrijving Zoeken" oninput="FilterOnText(1)"/></td>
                <td><select id="examCategory" name="examCategory" selected='0' oninput="FilterOnCategory(this)">
                    <option value="99"></option>
                    @foreach(var item in ViewBag.ttService.GetAll())
                    {
                        <option value="@item.TimeTableId">@item.Text</option>
                    }
                    </select></td>
                <td></td>
            </tr>
            @foreach (var item in ViewBag.exams)
            {
                var tt = ViewBag.ttService.GetById(item.TimeTableId);
                <tr class="category@(tt.TimeTableId) category">
                    <td class="examname">@item.Name</td>
                    <td class="examsummary">@item.Description</td>
                    <td>@tt.Text</td>
                    <td><a asp-controller="Exam" asp-action="Take" asp-route-id="@item.ExamId">Start toets</a></td>
                </tr>
            }
        </table>
    </div>
</section>

<script>
    //Filters existing questions on text.
    function FilterOnText(state) {
        var value;
        var filter;
        if (state == 0) {
            value = $("#searchInput1").val();
            filter = $(".examname");
        }
        else if (state == 1) {
            value = $("#searchInput2").val();
            filter = $(".examsummary");
        }        
        var values = [];
        filter.each(function () {
            if ($(this).text().toLowerCase().indexOf(value) >= 0) {
                $(this).parent().show();
            }
            else {
                $(this).parent().hide();
            }
        })
    }

    //Filters existing questions on category.
    function FilterOnCategory(div) {       
        var id = $('#examCategory option').eq(div.selectedIndex).val();
        var filterOn = ".category" + id + "";
        var filter = $(".category");
        if (div.selectedIndex == 0) {
            filter.show();
        }
        else {
            filter.hide();
            $(filterOn).show();
        }

    }
</script>