@model Eduria.Models.ExamModel
@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

@foreach (var item in @Model.QuestionModels)
{
    <p>@item.QuestionId</p>
    <p>@item.Text</p>
}

@foreach (var answer in @Model.AnswerModels)
{
    <p>@answer.Text</p>
    <p>@answer.CorrectAnswer</p>
}
