@model Eduria.Models.ExamModel
@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

<form id="exam">
    <p id="Question">Empty</p>
    <div id="noneToday">
        <button type="button" id="1" value="Start" onclick="NextQuestion(QuestionModelArray, AnswerModelArray, count)">Start</button>
    </div>
</form>

@*@foreach (var item in @Model.QuestionModels)
{
    <p>@item.QuestionId</p>
    <p>@item.Text</p>
}

@foreach (var answer in @Model.AnswerModels)
{
    <p>@answer.Text</p>
    <p>@answer.CorrectAnswer</p>
}*@

<script language="javascript">
    var QuestionModelArray = [];
    var AnswerModelArray = [];
    var count = 0;

    function createTempQuestion(id, text) {
        return { QuestionId: id, Text: text };
    }

    function createTempAnswer(id, questionId, text, correctAnswer) {
        return {AnswerId: id, QuestionId:questionId, Text: text, CorrectAnswer:correctAnswer};
    }

    @foreach (var d in Model.QuestionModels)
    { 
        @:QuestionModelArray.push(createTempQuestion(@d.QuestionId, "@d.Text"));
    }

    @foreach (var e in Model.AnswerModels)
    {
        @:AnswerModelArray.push(createTempAnswer(@e.AnswerId, @e.QuestionId, "@e.Text", @e.CorrectAnswer));
    }

    function ShowQuestion(Question) {
        document.getElementById("Question").innerHTML = Question;
    }

    function ChangeButtons(names) {
        // TODO
    }

    function CheckAnswer(id, question) {
        return question.answer[id].CorrectAnswer;
    }

    function NextQuestion(questionArray, answerArray, id) {
        ShowQuestion(questionArray[id].Text);
        count++;
        console.log((questionArray.length - 1) + ":" + id);

        if (id >= (questionArray.length - 1)) {
            FinishedExam();
            
        }
        //ChangeButtons(object.answers);
    }

    function FinishedExam() {
        console.log("klaar");
    }

    ShowQuestion(QuestionModelArray[0].Text);
</script>