@model DataExamResultModel

@{
    ViewData["Title"] = "ExamResult";
}

<h2>ExamResult</h2>

<b>@Model.Name | @Model.Description</b>

<div class="row">
    <div class="medium-6 columns">
        <canvas id="examChart" width="400" height="400"></canvas>
    </div>
    <div class="medium-6 columns">
        <canvas id="examChartTwo" width="400" height="400"></canvas>
    </div>
</div>
<script>
var ctx = document.getElementById('examChart').getContext('2d');
var examChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Hoogste', 'Laagste', 'Gemiddeld' ],
        datasets: [{
            data: [@Model.HighestScore, @Model.LowestScore, @Model.AverageScore],
            backgroundColor: [
                'rgba(123, 239, 178, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderColor: [
                'rgba(123, 239, 178, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        legend: {
        display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: @Model.HighestScore + 5
                }
            }]
        }
    }
});
</script>
<script>
    var monthArray = []
    @foreach(var item in Model.TotalTimesDonePerMonth)
    {
        @:monthArray.push(@item);
    }

    var ctx = document.getElementById('examChartTwo').getContext('2d');
    var examChartTwo = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Januari', 'Februari', 'Maart',
                'April', 'Mei', 'Juni', 'Juli',
                'Augustus', 'September', 'Oktober',
                'November', 'December'],
            datasets: [{
                label: 'Januari',
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(123, 239, 178, 1)',
                ],
                data: monthArray
            }]
        },
        options: {
        legend: {
        display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });

    console.log(@Model.TotalTimesDonePerMonth.ToArray()[5].ToString());
</script>