@model IEnumerable<DataStudentResultModel>
@{
    ViewData["Title"] = "Toetsresultaten";
}

    <h2>Toetsresultaten </h2>

<table>
    <thead>
        <tr>
            <th>Toets</th>
            <th>Omschrijving</th>
            <th>Score</th>
            <th>Begonnen</th>
            <th>Afgerond</th>
            <th>Bekijken</th>
        </tr>
    </thead>
    <tbody>
        @foreach(DataStudentResultModel item in Model)
        {
            <tr>
                <td>@item.ExamName</td>
                <td>@item.ExamDescription</td>
                <td>@item.Score</td>
                <td>@item.StartedAt</td>
                <td>@item.FinishedAt</td>
                <td>
                    <a asp-controller="Result" asp-action="StudentExamResult" asp-route-id="@item.ExamResultId">
                        <i class="fas fa-glasses"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

